# Build output
x64/
Win32/
ARM64/
[Dd]ebug/
[Rr]elease/
*.exe
*.pdb
*.ilk
*.obj
*.pch
*.idb
*.iobj
*.ipdb
*.tlog
*.log
*.lastbuildstate
*.recipe

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.VC.opendb
*.aps
